src/by/it/zaliashchonak/jd02_07/Schema.dtd

<?xml version="1.0" encoding="UTF-8" ?>
        <!ELEMENT Clients (Client)+>
        <!ELEMENT Client (Nickname, Password, Email, Ads)>
        <!ELEMENT Nickname (#PCDATA)>
        <!ELEMENT Password (#PCDATA)>
        <!ELEMENT Email (#PCDATA)>
        <!ELEMENT Ads (Ad)+>
        <!ELEMENT Ad (Product,Price,Description)>
        <!ELEMENT Product (#PCDATA)>
        <!ELEMENT Price (#PCDATA)>
        <!ELEMENT Description (#PCDATA)>