src/by/it/kashayed/jd02_07/SDTD.dtd

<?xml version="1.0" encoding="UTF-8" ?>

<!ELEMENT Owners (Owner)+>
        <!ELEMENT Owner (Login,email,Password,Cars)>
<!ELEMENT Login (#PCDATA)>
<!ELEMENT email (#PCDATA)>
<!ELEMENT Password (#PCDATA)>
<!ELEMENT Cars (Car)+>
<!ELEMENT Car (Model,Year,Price)>
<!ELEMENT Model (#PCDATA)>
<!ELEMENT Year (#PCDATA)>
<!ELEMENT Price (#PCDATA)>