src/by/it/dkruchek/jd02_07/classwork/Schema.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT Persons (Person)+>
<!ELEMENT Person (Login, Password, Email, Ads)>
<!ELEMENT Login (#PCDATA)>
<!ELEMENT Password (#PCDATA)>
<!ELEMENT Email (#PCDATA)>
<!ELEMENT Ads (Ad)+>
<!ELEMENT Ad (Description, Address, Price, Area, Floor, Floors, Rooms)>
<!ELEMENT Description (#PCDATA)>
<!ELEMENT Address (#PCDATA)>
<!ELEMENT Price (#PCDATA)>
<!ELEMENT Area (#PCDATA)>
<!ELEMENT Floor (#PCDATA)>
<!ELEMENT Floors (#PCDATA)>
<!ELEMENT Rooms (#PCDATA)>