src/by/it/mokhart/jd02_07/Schema.dtd

<?xml version="1.0" encoding="UTF-8" ?>
<!ELEMENT Clients (Client)+>
<!ELEMENT Client (Login, Password, Email, Clothes)>
<!ELEMENT Login (#PCDATA)>
<!ELEMENT Password (#PCDATA)>
<!ELEMENT Email (#PCDATA)>
<!ELEMENT Clothes (Cloth)+>
<!ELEMENT Cloth (Description,Price)>
<!ELEMENT Description (#PCDATA)>
<!ELEMENT Price (#PCDATA)>
